/* src/App.css */

body {
  max-width: 93%;
}
#root {
  width: 90%;
  flex-wrap: wrap;
}

.app-container {
  display: flex;
  flex-direction: column; /* Stack vertically on small screens */
  width: 100%; /* Ensure it takes the full width */
}

.events-container {
  margin-left: 5vh;
  margin-right: 5vh;
  flex: 0 0 75%; /* 75% width for All Events container */
}

.selected-events-container {
  flex: 0 0 25%; /* 25% width for Selected Events container */
}

@media (min-width: 768px) {
  .app-container {
    flex-direction: row; /* Change to horizontal on larger screens */
  }
}

/* Add the rest of your styles here... */
.event-card,
.selected-event-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.event-card button,
.selected-event-card button {
  padding: 8px 12px;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
}

.selected {
  background-color: #d1e7dd;
}

.box {
  border: 2px solid #ccc; 
  padding: 5vh; 
  background-color: #f9f9f9; 
  border-radius: 8px;
}

.events-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 card per row on small screens */
  gap: 15px;
}

@media (min-width: 600px) {
  .events-list {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row on medium screens */
  }
}

@media (min-width: 768px) {
  .events-list {
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row on large screens */
  }
}

.btn-container,
.btn-container-selected
{
  display: flex;
  justify-content: end;
}

.sort-by {
  padding-left: 20px;
}

.app-title {
  display: flex;
  justify-content: center;
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}
